/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 25, 2023, 12:02:32 AM
    Author     : ACER
*/

body {
    padding: 0;
    margin: 0;
    font-family: Quicksand;
    overflow-x: hidden;
}



.show {
    display: block !important;
}

/*Header*/

.header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 101px;
    flex-shrink: 0;
    background: #000;
    z-index: 1;
}


.header .btn-logo {
    margin-left: 70px;
    margin-top: 10px;
}

.header .btn-logo img {
    width: 100%;
    height: 90%;
}

.header .input-search {
    font-family: Quicksand;
    width: 766px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    margin-top: 25px;
    margin-left: 140px;
    font-size: 20px;
    padding-left: 10px;
}

.header input::placeholder {
    font-family: Quicksand;
    padding-left: 0px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.header .search-icon {
    margin-top: 32px;
    margin-left: -45px;
    font-size: 20px;
    height: 33px;
    background-color: gray;
    opacity: 0.7;
    color: white;
    border: none;
    border-radius: 5px;
}

.header .search-icon:hover {
    opacity: 0.5;
}

.header .btn-login {
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    flex-direction: column;
}

.header .btn-signupstudio {
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    flex-direction: column;
}

.header .btn-login:hover,
.header .btn-signupstudio:hover,
.header .btn-Signup:hover{
    text-decoration: underline;
}

.header .btn-Signup {
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 100%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    flex-direction: column;
}

.header .avatar-item {
    margin-top: 2.75%;
    margin-left: -3.5%;
    margin-bottom: 1%;
}

.header .avatar-img {
    width: 50px;
    border-radius: 50px;
}

.header .subnav-content {
    display: none;
}

.header .subnav-content a {
    display: block;
    padding: 10px 10px;
    color: white;
    margin-left: -150px;
    background-color: rgba(30, 30, 30, 0.5);
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;

}

.header .subnav-content a:hover {
    background-color: #D9D9D9;
    color: black;
}

.header .subnav-content a:first-child {
    border-radius: 10px 10px 0 0;
}

.header .subnav-content a:last-child {
    border-radius: 0 0 10px 10px;
}

.header .subnav-content i {
    padding-right: 10px;
}

/*header phan quyen*/
.header .btn-notification {
    display: inline-block;
    margin-top: 10px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
    height: max-content;
    font-size: 120%;

}

.header .btn-signupstudio-af {
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    height: max-content;
    font-size: 120%;
}

.header .btn-notification:hover,
.header .btn-signupstudio-af:hover {
    text-decoration: underline;
}

.profile {
  display: flex;
}
.profile-left {
  float: left;
  width: 355px;
  height: 793px;
  flex-shrink: 0;
  background-color: #d6dce4;
}
.profile-left-title {
  display: flex;
  width: 355px;
  height: 72px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 37px;
}
.profile-left-avatar {
  width: 100%;
  height: auto;
  margin-top: 39px;
  margin-left: 59.5px;
}
.profile-left-avatar-img {
  width: 236px;
  height: 217px;
  flex-shrink: 0;
  margin: 0 auto;
  border-radius: 100%;
}
.profile-right-total-info {
  display: flex;
}
.profile-right-left {
  float: left;
  width: 50%;
}
.profile-right-right {
  float: right;
  width: 50%;
}

.profile-right-title {
  margin-top: 37px;
  display: flex;
  width: 310px;
  height: 71px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.profile-right-info {
  width: 209px;
  height: 72px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  display: flex;
  width: 209px;
  height: 72px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 31px;
}

.profile-right-right .City{
    margin-top: 30px;
    margin-left: 15px;
}

.profile-right-right .District{
    margin-top: 27px;
    margin-left: 28px;
}

.input-info {
  width: 460px;
  height: 45px;
  flex-shrink: 0;
  background-color: #ecf2f9;
  margin-left: 31px;
  border: none;
  font-family: Quicksand;
}

.buttons-confirm:hover{
    background: gray;
    text-decoration: underline;
}

/*footer*/
.footer {

    width: 100%;
    height: 370px;
    background: #000;
    display: flex;
    color: white;
    margin-top: 40px;
    margin-bottom: 0px;
}

.footer-service,
.footer-contact,
.footer-address {
    width: 33.33%;
    margin-top: 10px;
    text-align: center;
}
.footer-service{
    width: 800px;
    margin-right: -150px;
    margin-left: -30px;
}

.footer-service h1{
    margin-left: -90px;
}

.footer h1 {
    padding-bottom: 30px;
    text-align: center;
    padding-top: 30px;
}

.footer p {
    text-align: justify;
    width: 60%;
    padding-left: 100px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}

.footer i {
    font-size: 50px;
    margin-left: 20px;
}

.profile-right-right .District{
    margin-top: 27px;
    margin-left: 28px;
}

.buttons-confirm{
    background-color: black;
    border: none;
    text-decoration: none;
    padding: 20px 20px;
    margin: 25px 28px;
    cursor: pointer;
    text-align: right;
    color: white;
}

.system-msg{
    margin-left: 30px;
    color: #4BB543;
    font-size: 150%;
}
