/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 21, 2023, 10:10:02 AM
    Author     : ACER
*/
body {
    padding: 0;
    margin: 0;
    font-family: Quicksand;
    overflow-x: hidden;
}



.show {
    display: block !important;
}

/*Header*/

/*Header*/

.header {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    height: 101px;
    flex-shrink: 0;
    background: #000;
    z-index: 1;
}


.header .btn-logo {
    margin-left: 70px;
    margin-top: 10px;
}

.header .btn-logo img {
    width: 100%;
    height: 90%;
}

.header .input-search {
    font-family: Quicksand;
    width: 786px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    margin-top: 25px;
    margin-left: 140px;
}

.header input::placeholder {
    font-family: Quicksand;
    padding-left: 10px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.header .search-icon {
    margin-top: 37px;
    margin-left: -35px;
    font-size: 20px;
}

.header .btn-notification {
    margin-top: 10px;
    margin-left: 95px;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    flex-direction: column;
}

.header .btn-signupstudio {
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    flex-direction: column;
}

.header .btn-notification:hover,
.header .btn-signupstudio:hover,
.header .btn-Signup:hover{
    text-decoration: underline;
}

.header .btn-Signup {
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    flex-direction: column;
}

.container2{
    background: #D9D9D9;
    border-radius: 64px;
    width: 832px;
    height: 860px;
    margin-left: 23%;
}

.container2 .LOGIN{
    display: flex;
    margin-left: 185px;
    margin-top: 30px;
    width: 168px;
    height: 54px;
}
.container2 .LOGIN input[type="submit"]{
    color:white;
    background: #013F96;
    border-radius: 10px;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 20px;
    padding: 0 20px;
    
}
.container2 .LOGIN button{
    color: white;
    background: #013F96;
    border-radius: 10px;
    margin-left: 190px;
    padding: 0 40px;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 20px;
    
    
}
.container2 .LOGIN input[type="submit"]:hover {
    background: black;
}
.container2 .LOGIN button:hover{
    background: #000;
}
.container2 h2{
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 29px;
}
.Username input[type="text"], 
.Password input[type="password"],
.Confirm input[type="password"], 
.fullName input[type="text"], 
.phoneNumber input[type="tel"],
.birthDate input[type="date"],
.Gender select,
.City select,
.District select,
.Email input[type="email"]
{
    font-family: Quicksand;
    width: 420px;
    height: 36px; 
    border: #D9D9D9;
    border-radius: 5px;
    margin-right: 78px;
}

.Username label, 
.Password label,
.Confirm label, 
.fullName label, 
.phoneNumber label,
.birthDate label, 
.Gender label,
.City label,
.Email label,
.District label
{
    color: #000;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.signUp .Username{
    margin-top: 44px;
    margin-left: 75px;
    display:flex;
    justify-content: space-between;
}


.signUp .Password{
    margin-top: 27px;
    margin-left: 75px;
    display:flex;
    justify-content: space-between;
}



.signUp .Confirm{
    margin-top: 27px;
    margin-left: 75px;
    display:flex;
    justify-content: space-between;
}


.signUp .fullName{
    margin-top: 27px;
    margin-left: 75px;
    display:flex;
    justify-content: space-between;
}


.signUp .birthDate{
    margin-top: 27px;
    margin-left: 75px;
    display:flex;
    justify-content: space-between;
}
.birthDate input[type="date"]{
    width: 423px;
    height: 40px; 
    border-radius: 5px #000;
}

.signUp .Gender{
    margin-top: 27px;
    margin-left: 75px;
    display: flex;
    justify-content: space-between;
}

.Gender select{
    width: 426px;
    height: 40px; 
}

.signUp .phoneNumber{
    margin-top: 27px;
    margin-left: 75px;
    display:flex;
    justify-content: space-between;
}

.signUp .Email{
    margin-top: 27px;
    margin-left: 75px;
    
}
.Email label{
    margin-top: -3px;
}
.signUp .Email input[type="email"]{
    width: 420px;
    height: 36px; 
    border-radius: 5px;
    margin-left: 197px;
    border: #D9D9D9;
}
.signUp .City{
    margin-top: 27px;
    margin-left: 75px;
    display:flex;
    justify-content: space-between;
}
.City label{
    margin-top: 5px;
}
.City select{
    width: 424px;
    height: 40px; 
    border-radius: 5px #000;
}

.District{
    margin-top: 27px;
    margin-left: 75px;
    display:flex;
    justify-content: space-between;
}
.District select{
    width: 424px;
    height: 40px; 
    border-radius: 5px;
}
.PLUS{
    display: flex;
    margin-top: 27px;
    justify-content: space-between;
    margin-left: 158px;
    margin-right: 158px;
}
/*footer*/
.footer {

    width: 100%;
    height: 467px;
    background: #000;
    display: flex;
    color: white;
    margin-top: 40px;
}

.footer-service,
.footer-contact,
.footer-address {
    width: 33.33%;
    margin-top: 93px;
    text-align: center;
}

.footer h1 {
    padding-bottom: 41px;
}

.footer p {
    text-align: justify;
    width: 60%;
    padding-left: 100px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}

.footer i {
    font-size: 50px;
    margin-left: 20px;
}
