<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccountList</servlet-name>
        <servlet-class>AdminAccountList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountController</servlet-name>
        <servlet-class>Controller.ViewAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountViewController</servlet-name>
        <servlet-class>Controller.AccountViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>Controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceListController</servlet-name>
        <servlet-class>Controller.ServiceListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccountList</servlet-name>
        <url-pattern>/AdminAccountList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountController</servlet-name>
        <url-pattern>/ViewAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountViewController</servlet-name>
        <url-pattern>/AccountViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceListController</servlet-name>
        <url-pattern>/ServiceListController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
